.container-fluid {
  font-family: "Abyssinica SIL", serif;
}
.remove-margin {
  margin: 0 !important;
}
.current-temp,
.forcast-grid {
  text-align: center;
  padding: 0%;
}

.form-control {
  position: relative;
  left: 93px;
  width: 65%;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h6 {
  padding-top: 10px;
}
.mb-3 {
  line-height: 0;
}
button .go-button {
  margin-bottom: 15px;
}

.border {
  margin: 30px;
  padding: 5rem 0rem !important;
  border: 10px solid !important;
  border-image-slice: 1 !important;
  border-width: 5px !important;
  border-image-source: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 44%,
    rgb(21, 186, 196) 75%
  ) !important;
}

.degree {
  display: block;
  text-align: left;
  font-size: 20px;
  margin-top: 23.75px;
}
.temp-icon {
  display: block;
  text-align: left;
  font-size: 24px;
  margin-top: 23.75px;
}
.current-weather-conditions {
  list-style-type: none;
  font-size: 1rem;
  padding: 0;
  margin-bottom: 0;
  color: rgba(39, 33, 66, 0.4);
}
.current-condition {
  font-size: 20px;
  padding-top: 8px;
}
.current-condition:first-letter {
  text-transform: capitalize;
}

.weatherBorder {
  float: right;
  width: 1px;
  height: 400px;
  background: linear-gradient(
    180deg,
    #f5f6f6 0,
    #dbdce2 21%,
    #b8bac6 49%,
    #dddfe3 80%,
    #f5f6f6
  );
}
.col-4 {
  padding-left: 71px;
}
.units {
  position: relative;
  top: -15px;
  left: -14px;
  font-size: 15px;
}

.open-source {
  font-size: 12px;
  position: relative;
  top: -20px;
  left: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 75px 75px;
  place-items: center;
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
}
.forecast-low {
  opacity: 0.5;
}
